@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#050816;
  color:white;
  overflow-x:hidden;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-thumb{
  background:linear-gradient(#8b5cf6,#00f5ff);
  border-radius:20px;
}

.glass{
  background:rgba(255,255,255,.08);
  border:1px solid rgba(255,255,255,.1);
  backdrop-filter:blur(16px);
}

.neon-text{
  text-shadow:0 0 15px rgba(0,245,255,.7);
}

.bg-grid{
  background-image:
    linear-gradient(rgba(255,255,255,.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.04) 1px, transparent 1px);
  background-size:50px 50px;
}
